<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kartaPrzedmiotu">
            <h2><span jhiTranslate="appApp.kartaPrzedmiotu.detail.title">Karta Przedmiotu</span> {{kartaPrzedmiotu.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.kartaPrzedmiotu.nazwa">Nazwa</span></dt>
                <dd>
                    <span>{{kartaPrzedmiotu.nazwa}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/karta-przedmiotu', kartaPrzedmiotu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
