<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.przedmiot.home.title">Przedmiots</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-przedmiot" [routerLink]="['/przedmiot/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appApp.przedmiot.home.createLabel">
            Create a new Przedmiot
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="przedmiots?.length === 0">
        <span jhiTranslate="appApp.przedmiot.home.notFound">No przedmiots found</span>
    </div>
    <div class="table-responsive" *ngIf="przedmiots?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="appApp.przedmiot.nrSemestru">Nr Semestru</span></th>
            <th scope="col" ><span jhiTranslate="appApp.przedmiot.nazwa">Nazwa</span></th>
            <th scope="col" ><span jhiTranslate="appApp.przedmiot.kartaPrzedmiotu">Karta Przedmiotu</span></th>
            <th scope="col" ><span jhiTranslate="appApp.przedmiot.opiekunPrzedmiotu">Opiekun Przedmiotu</span></th>
            <th scope="col" ><span jhiTranslate="appApp.przedmiot.programStudiow">Program Studiow</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let przedmiot of przedmiots ;trackBy: trackId">
                <td><a [routerLink]="['/przedmiot', przedmiot.id, 'view' ]">{{przedmiot.id}}</a></td>
                <td>{{przedmiot.nrSemestru}}</td>
                <td>{{przedmiot.nazwa}}</td>
                <td>
                    <div *ngIf="przedmiot.kartaPrzedmiotu">
                        <a [routerLink]="['/karta-przedmiotu', przedmiot.kartaPrzedmiotu?.id, 'view' ]" >{{przedmiot.kartaPrzedmiotu?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="przedmiot.opiekunPrzedmiotu">
                        <a [routerLink]="['/opiekun-przedmiotu', przedmiot.opiekunPrzedmiotu?.id, 'view' ]" >{{przedmiot.opiekunPrzedmiotu?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="przedmiot.programStudiow">
                        <a [routerLink]="['/program-studiow', przedmiot.programStudiow?.id, 'view' ]">{{przedmiot.programStudiow?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/przedmiot', przedmiot.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/przedmiot', przedmiot.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(przedmiot)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
