<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.efektKsztalcenia.home.title">Efekt Ksztalcenias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-efekt-ksztalcenia" [routerLink]="['/efekt-ksztalcenia/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appApp.efektKsztalcenia.home.createLabel">
            Create a new Efekt Ksztalcenia
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="efektKsztalcenias?.length === 0">
        <span jhiTranslate="appApp.efektKsztalcenia.home.notFound">No efektKsztalcenias found</span>
    </div>
    <div class="table-responsive" *ngIf="efektKsztalcenias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="appApp.efektKsztalcenia.opis">Opis</span></th>
            <th scope="col" ><span jhiTranslate="appApp.efektKsztalcenia.programStudiow">Program Studiow</span></th>
            <th scope="col" ><span jhiTranslate="appApp.efektKsztalcenia.przedmiot">Przedmiot</span></th>
            <th scope="col" ><span jhiTranslate="appApp.efektKsztalcenia.efektMinisterialny">Efekt Ministerialny</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let efektKsztalcenia of efektKsztalcenias ;trackBy: trackId">
                <td><a [routerLink]="['/efekt-ksztalcenia', efektKsztalcenia.id, 'view' ]">{{efektKsztalcenia.id}}</a></td>
                <td>{{efektKsztalcenia.opis}}</td>
                <td>
                    <div *ngIf="efektKsztalcenia.programStudiow">
                        <a [routerLink]="['/program-studiow', efektKsztalcenia.programStudiow?.id, 'view' ]" >{{efektKsztalcenia.programStudiow?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let przedmiot of efektKsztalcenia.przedmiots; let last = last">
                            <a class="form-control-static" [routerLink]="['/przedmiot', przedmiot?.id, 'view' ]">{{przedmiot.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let efektMinisterialny of efektKsztalcenia.efektMinisterialnies; let last = last">
                            <a class="form-control-static" [routerLink]="['/efekt-ministerialny', efektMinisterialny?.id, 'view' ]">{{efektMinisterialny.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/efekt-ksztalcenia', efektKsztalcenia.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/efekt-ksztalcenia', efektKsztalcenia.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(efektKsztalcenia)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
